In [1]:
# Importing the Libraries
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Importing data
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
# Data
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# Data Shape
df.shape

(400, 5)

In [5]:
# Data Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
# Features and Class
X = df.iloc[:, 2:-1]
y = df.iloc[:, 4]

In [7]:
# Splitting the dataset into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [8]:
# Feature Scaling
sc = StandardScaler()

In [9]:
# Transforming Data
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
# Support Vector Machine
svc_linear = SVC(kernel='linear')                 # using linear kernel
svc_rbf = SVC(kernel='rbf')                       # using linear kernel

In [11]:
# Fitting SVM Model
svc_linear.fit(X_train, y_train)
svc_rbf.fit(X_train, y_train)

SVC()

In [12]:
# Score
svc_linear.score(X_test, y_test), svc_rbf.score(X_test, y_test)

(0.89, 0.92)