In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

In [2]:
# Ignoring Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing Data
df = pd.read_csv('data.csv')

In [4]:
# Data
df.head()

   ID  T_degC  Salnty
0   0   10.50  33.440
1   1   10.46  33.440
2   2   10.46  33.437
3   3   10.45  33.420
4   4   10.45  33.421

In [5]:
# Data Set Dimensions
df.shape

(864863, 3)

In [6]:
# Data Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      864863 non-null  int64
 1   T_degC  853900 non-null  float64
 2   Salnty  817509 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 19.8 MB

In [7]:
# Null Count in Data Set
df.isnull().sum()

ID            0
T_degC    10963
Salnty    47354
dtype: int64

In [8]:
# Dropping ID Column
df = df.drop('ID', axis=1)

In [9]:
# Dropping Null Values
df.dropna(axis=0, how='any', inplace=True)

In [10]:
# Null Count in Data Set after dropping Null
df.isnull().sum()

T_degC    0
Salnty    0
dtype: int64

In [11]:
# Dimensions of Dataset after removing all Null containing Rows
df.shape

(814247, 2)

In [12]:
# Resetting Index
df.reset_index(drop=True, inplace=True)

In [13]:
# Dataset
df.head()

   T_degC  Salnty
0   10.50  33.440
1   10.46  33.440
2   10.46  33.437
3   10.45  33.420
4   10.45  33.421

In [14]:
# Feature Set and Class Set
X = df.iloc[0:, 0].values
y = df.iloc[0:, 1].values

In [15]:
# Reshaping Feature Set
X = X.reshape(-1, 1)

In [16]:
# Linear Regression
lin_reg = LinearRegression()

In [17]:
# Mean Square Error
mse = cross_val_score(lin_reg, X, y, scoring='neg_mean_squared_error', cv=5)
mean_mse = np.mean(mse)
mean_mse

-0.1748181221229268

In [18]:
# Ridge Regression
ridge = Ridge()

In [19]:
# Performing Hyper-Parameter Tuning

# Setting Parameters
parameters = {
    'alpha': [1e-15, 1e-10, 1e-8, 1e-3, 1e-2, 1, 5, 10, 20, 30, 35, 40, 50, 65, 80, 90, 100]
}

# Performing Grid Search on Parameters
ridge_regressor = GridSearchCV(
    estimator=ridge, 
    param_grid=parameters, 
    scoring='neg_mean_squared_error', 
    n_jobs=-1, cv=5
)

# Fitting the Model on Data
ridge_regressor.fit(X, y)

GridSearchCV(cv=5, estimator=Ridge(), n_jobs=-1,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 50, 65, 80, 90, 100]},
             scoring='neg_mean_squared_error')

In [20]:
# Best Fit Model Constraints
(ridge_regressor.best_params_, ridge_regressor.best_score_)

({'alpha': 100}, -0.17481798588184377)

In [21]:
# All Scores
ridge_regressor.cv_results_

{'mean_fit_time': array([0.09911413, 0.07379751, 0.07501688, 0.07629952, 0.07389874,
        0.07470636, 0.07350106, 0.06835427, 0.0734468 , 0.07871523,
        0.07485089, 0.06690221, 0.07063293, 0.0712584 , 0.07464323,
        0.07317266, 0.07428617]),
 'std_fit_time': array([0.03167128, 0.00406161, 0.003532  , 0.00440742, 0.00477866,
        0.00457188, 0.00334429, 0.00451548, 0.00411524, 0.0127064 ,
        0.01304947, 0.0065708 , 0.00509523, 0.00750298, 0.00782122,
        0.00630031, 0.00760377]),
 'mean_score_time': array([0.00942678, 0.01031041, 0.00819788, 0.0066153 , 0.0098196 ,
        0.00977859, 0.00990424, 0.01181722, 0.0099555 , 0.00860839,
        0.01030202, 0.01166348, 0.00911946, 0.01040111, 0.01106663,
        0.01017299, 0.00920286]),
 'std_score_time': array([0.00175882, 0.00012309, 0.00410057, 0.00461164, 0.00085765,
        0.00082052, 0.00077652, 0.00432142, 0.0013274 , 0.00184051,
        0.00598888, 0.00377783, 0.00116936, 0.0020587 , 0.0021952 ,
        0.00162161, 0.00375218]),
 'param_alpha': masked_array(data=[1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10, 20, 30, 35,
                    40, 50, 65, 80, 90, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1e-15},
  {'alpha': 1e-10},
  {'alpha': 1e-08},
  {'alpha': 0.001},
  {'alpha': 0.01},
  {'alpha': 1},
  {'alpha': 5},
  {'alpha': 10},
  {'alpha': 20},
  {'alpha': 30},
  {'alpha': 35},
  {'alpha': 40},
  {'alpha': 50},
  {'alpha': 65},
  {'alpha': 80},
  {'alpha': 90},
  {'alpha': 100}],
 'split0_test_score': array([-0.15913691, -0.15913691, -0.15913691, -0.15913691, -0.15913691,
        -0.15913691, -0.15913692, -0.15913693, -0.15913696, -0.15913699,
        -0.159137  , -0.15913702, -0.15913705, -0.15913709, -0.15913713,
        -0.15913716, -0.15913719]),
 'split1_test_score': array([-0.29194157, -0.29194157, -0.29194157, -0.29194157, -0.29194157,
        -0.29194155, -0.29194149, -0.29194142, -0.29194127, -0.29194112,
        -0.29194105, -0.29194097, -0.29194082, -0.2919406 , -0.29194037,
        -0.29194022, -0.29194007]),
 'split2_test_score': array([-0.21111947, -0.21111947, -0.21111947, -0.21111947, -0.21111947,
        -0.21111947, -0.21111945, -0.21111944, -0.2111194 , -0.21111937,
        -0.21111936, -0.21111934, -0.21111931, -0.21111926, -0.21111922,
        -0.21111918, -0.21111915]),
 'split3_test_score': array([-0.10351739, -0.10351739, -0.10351739, -0.10351739, -0.10351739,
        -0.10351739, -0.10351741, -0.10351743, -0.10351747, -0.10351751,
        -0.10351753, -0.10351755, -0.10351759, -0.10351765, -0.10351771,
        -0.10351775, -0.10351779]),
 'split4_test_score': array([-0.10837528, -0.10837528, -0.10837528, -0.10837528, -0.10837528,
        -0.10837528, -0.1083753 , -0.10837532, -0.10837537, -0.10837541,
        -0.10837544, -0.10837546, -0.1083755 , -0.10837557, -0.10837564,
        -0.10837568, -0.10837573]),
 'mean_test_score': array([-0.17481812, -0.17481812, -0.17481812, -0.17481812, -0.17481812,
        -0.17481812, -0.17481812, -0.17481811, -0.17481809, -0.17481808,
        -0.17481807, -0.17481807, -0.17481805, -0.17481803, -0.17481801,
        -0.174818  , -0.17481799]),
 'std_test_score': array([0.07039891, 0.07039891, 0.07039891, 0.07039891, 0.07039891,
        0.07039891, 0.07039888, 0.07039884, 0.07039877, 0.0703987 ,
        0.07039867, 0.07039863, 0.07039856, 0.07039845, 0.07039835,
        0.07039828, 0.07039821]),
 'rank_test_score': array([16, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])}