In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

In [2]:
# Ignoring Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing Data
df = pd.read_csv('data.csv')

In [4]:
# Data
df.head()

   ID  T_degC  Salnty
0   0   10.50  33.440
1   1   10.46  33.440
2   2   10.46  33.437
3   3   10.45  33.420
4   4   10.45  33.421

In [5]:
# Data Set Dimensions
df.shape

(864863, 3)

In [6]:
# Data Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      864863 non-null  int64
 1   T_degC  853900 non-null  float64
 2   Salnty  817509 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 19.8 MB

In [7]:
# Null Count in Data Set
df.isnull().sum()

ID            0
T_degC    10963
Salnty    47354
dtype: int64

In [8]:
# Dropping ID Column
df = df.drop('ID', axis=1)

In [9]:
# Dropping Null Values
df.dropna(axis=0, how='any', inplace=True)

In [10]:
# Null Count in Data Set after dropping Null
df.isnull().sum()

T_degC    0
Salnty    0
dtype: int64

In [11]:
# Dimensions of Dataset after removing all Null containing Rows
df.shape

(814247, 2)

In [12]:
# Resetting Index
df.reset_index(drop=True, inplace=True)

In [13]:
# Dataset
df.head()

   T_degC  Salnty
0   10.50  33.440
1   10.46  33.440
2   10.46  33.437
3   10.45  33.420
4   10.45  33.421

In [14]:
# Feature Set and Class Set
X = df.iloc[0:, 0].values
y = df.iloc[0:, 1].values

In [15]:
# Reshaping Feature Set
X = X.reshape(-1, 1)

In [16]:
# Linear Regression
lin_reg = LinearRegression()

In [17]:
# Mean Square Error
mse = cross_val_score(lin_reg, X, y, scoring='neg_mean_squared_error', cv=5)
mean_mse = np.mean(mse)
mean_mse

-0.1748181221229268

In [18]:
# Lasso Regression
lasso = Lasso()

In [19]:
# Performing Hyper-Parameter Tuning

# Setting Parameters
parameters = {
    'alpha': [1e-15, 1e-10, 1e-8, 1e-3, 1e-2, 1, 5, 10, 20, 30, 35, 40, 50, 65, 80, 90, 100]
}

# Performing Grid Search on Parameters
lasso_regressor = GridSearchCV(
    estimator=lasso, 
    param_grid=parameters, 
    scoring='neg_mean_squared_error', 
    n_jobs=-1, cv=5
)

# Fitting the Model on Data
lasso_regressor.fit(X, y)

GridSearchCV(cv=5, estimator=Lasso(), n_jobs=-1,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 50, 65, 80, 90, 100]},
             scoring='neg_mean_squared_error')

In [20]:
# Best Fit Model Constraints
(lasso_regressor.best_params_, lasso_regressor.best_score_)

({'alpha': 0.01}, -0.17476260712980246)

In [21]:
# All Scores
lasso_regressor.cv_results_

{'mean_fit_time': array([1.49650655, 0.13202353, 0.1389502 , 0.14242501, 0.13798056,
        0.12810135, 0.12351098, 0.11774726, 0.12345796, 0.12473102,
        0.12780175, 0.121667  , 0.12279301, 0.13099332, 0.12935138,
        0.12981057, 0.12086096]),
 'std_fit_time': array([2.73420522e+00, 3.78464467e-03, 8.13457316e-03, 5.71230213e-03,
        7.96164004e-03, 8.23586721e-03, 4.27744831e-03, 4.56581215e-03,
        7.25805061e-03, 4.06207910e-03, 7.02719714e-03, 9.19060003e-03,
        1.67263967e-03, 5.81903380e-03, 1.03356811e-02, 3.91753878e-03,
        3.00653631e-03]),
 'mean_score_time': array([0.00830541, 0.01445956, 0.01193299, 0.01359372, 0.01062574,
        0.01386247, 0.01268706, 0.00946517, 0.01269774, 0.01024199,
        0.01069016, 0.01428671, 0.01646686, 0.01144233, 0.01436496,
        0.01178608, 0.01041288]),
 'std_score_time': array([4.17061081e-03, 4.85033724e-03, 3.19890667e-03, 4.15525856e-03,
        8.14306496e-04, 3.74638101e-03, 2.96569076e-03, 3.80767511e-03,
        6.51283466e-03, 8.75641042e-05, 5.16516296e-03, 4.28320093e-03,
        4.69966670e-03, 9.98840148e-04, 3.31199132e-03, 3.23163510e-03,
        2.34383454e-04]),
 'param_alpha': masked_array(data=[1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10, 20, 30, 35,
                    40, 50, 65, 80, 90, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1e-15},
  {'alpha': 1e-10},
  {'alpha': 1e-08},
  {'alpha': 0.001},
  {'alpha': 0.01},
  {'alpha': 1},
  {'alpha': 5},
  {'alpha': 10},
  {'alpha': 20},
  {'alpha': 30},
  {'alpha': 35},
  {'alpha': 40},
  {'alpha': 50},
  {'alpha': 65},
  {'alpha': 80},
  {'alpha': 90},
  {'alpha': 100}],
 'split0_test_score': array([-0.15913691, -0.15913691, -0.15913691, -0.15917228, -0.15949663,
        -0.24462684, -0.24462684, -0.24462684, -0.24462684, -0.24462684,
        -0.24462684, -0.24462684, -0.24462684, -0.24462684, -0.24462684,
        -0.24462684, -0.24462684]),
 'split1_test_score': array([-0.29194157, -0.29194157, -0.29194157, -0.29179882, -0.29052137,
        -0.23046029, -0.23471171, -0.23471171, -0.23471171, -0.23471171,
        -0.23471171, -0.23471171, -0.23471171, -0.23471171, -0.23471171,
        -0.23471171, -0.23471171]),
 'split2_test_score': array([-0.21111947, -0.21111947, -0.21111947, -0.21108444, -0.21077463,
        -0.23631106, -0.23942738, -0.23942738, -0.23942738, -0.23942738,
        -0.23942738, -0.23942738, -0.23942738, -0.23942738, -0.23942738,
        -0.23942738, -0.23942738]),
 'split3_test_score': array([-0.10351739, -0.10351739, -0.10351739, -0.10356955, -0.10404288,
        -0.18903147, -0.18903147, -0.18903147, -0.18903147, -0.18903147,
        -0.18903147, -0.18903147, -0.18903147, -0.18903147, -0.18903147,
        -0.18903147, -0.18903147]),
 'split4_test_score': array([-0.10837528, -0.10837528, -0.10837528, -0.10843516, -0.10897753,
        -0.1965611 , -0.1965611 , -0.1965611 , -0.1965611 , -0.1965611 ,
        -0.1965611 , -0.1965611 , -0.1965611 , -0.1965611 , -0.1965611 ,
        -0.1965611 , -0.1965611 ]),
 'mean_test_score': array([-0.17481812, -0.17481812, -0.17481812, -0.17481205, -0.17476261,
        -0.21939815, -0.2208717 , -0.2208717 , -0.2208717 , -0.2208717 ,
        -0.2208717 , -0.2208717 , -0.2208717 , -0.2208717 , -0.2208717 ,
        -0.2208717 , -0.2208717 ]),
 'std_test_score': array([0.07039891, 0.07039891, 0.07039891, 0.07032436, 0.06965481,
        0.02230951, 0.02325929, 0.02325929, 0.02325929, 0.02325929,
        0.02325929, 0.02325929, 0.02325929, 0.02325929, 0.02325929,
        0.02325929, 0.02325929]),
 'rank_test_score': array([5, 4, 3, 2, 1, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7])}