In [1]:
# Importing the Libraries
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Importing Data
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
# Data
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# Data Shape
df.shape

(400, 5)

In [5]:
# Data Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
# Features and Class
X = df.iloc[:, 2:-1]
y = df.iloc[:, 4]

In [7]:
# Splitting the dataset into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [8]:
# Feature Scaling
sc_X = StandardScaler()

In [9]:
# Fitting and Transforming Data
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [10]:
# Fitting KNN Classification Model
knn_clf = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
knn_clf.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean')

In [11]:
# Score
knn_clf.score(X_test, y_test)

0.87